[project]
name = "advent-of-code-2025"
version = "0.0.1"
description = ""
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "rich>=14.2.0",
    "ruff>=0.14.7",
]
